body{
	text-align: center;
	font-family: 'Lato', sans-serif;
	background-color: #7aff83;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
	margin: auto;	
	margin-bottom: 10px;
}

#survey-form {
	margin: auto;
	width: 60%;
	height: auto;
	box-shadow: 1px 1px 1px darkgrey;
	padding: 5px;
	line-height: 300%;
	background-color: whitesmoke;
/*	display: flex;
	flex-direction: column;*/
}

label{
	padding: 3px;
}

.oneLine{
	text-align: center;
	display: inline-block;
	width: 100%;
}

.left{
	text-align: right;
	display: inline-block;
	width: 30%;
	padding-right: 30px;
	vertical-align: top;
}

.right{
	text-align: left;
	display: inline-block;
	width: 30%;
}

.dropD{
	text-align: left;
	display: inline-block;
	width: 30%;
	padding: 5px;
}

input {
	border: 1px solid silver;
	border-radius: 3px;
	height: 26px;
	padding: 5px;
}

#dropdown{
	width: 150px;
	margin-left:0px;
}